<div class="footer bg-yellow pa3 flex items-center justify-between">
    <div class="footer-logo pa4">
        <%= image_tag 'vectors/banana.svg', class: "logo-banana-svg" %>
        <p class="footer-logo-title pv2 f4 fw7">BananaDNS</p>
        <p class="footer-logo-subtitle pv2">We're bananas about DNS since 2010!</p>
    </div>
    <div class="footer-links pa4 tr">
        <p class="footer-logo-subtitle pv2"><a href="#">About us</a></p>
        <p class="footer-logo-subtitle pv2"><a href="#">The company</a></p>
        <p class="footer-logo-subtitle pv2"><a href="#">Privacy policies</a></p>
        <p class="footer-logo-subtitle pv2"><a href="#">Yes this was very fun ❤</a></p>
    </div>
</div>
