<nav class="navbar pa3 bg-yellow">
    <div class="navbar-logo flex items-center">
        <a href="#"><%= image_tag 'vectors/banana.svg', class: "logo-banana-svg" %></a>
        <a href="#"><span class="navbar-title pl2 f4 fw7">BananaDNS</span></a>
    </div>
</nav>